body {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: disc;
}

.ul-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.center {
  text-align: center;
}

.emphasize {
  color: red;
  font-weight: bold;
}
